#pege-lengue {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  text-align: center;
  min-height: 100vh;

  display: flex;
}

#contener {
  margin: auto;

  width: min(90%, 112rem);
}

.location,
.visit p,
h1 {
  height: 16vh;
}

#logo {
  animation-delay: .1s;
}

.location {
  animation-delay: .2s;
}

main h1 {
  animation-delay: .3s;
  font-size: clamp(4rem, 8vw, 8.4rem);

}

.visit p {
  animation-delay: .4s;

}

.visit a {
  width: 8rem;
  height: 8rem;
  background-color: #fff666;

  border: none;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  transition: 200ms;

  animation-delay: .5s;
}

.visit a:hover {
  background-color: #96feff;
  transition: 200ms;
}

/*desketop forse*/
@media(min-width:760px) {
  #contener {
    padding: 5rem 2rem;
    background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 54vw, 56rem);

  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location,
  .visit p,
  h1 {
    height: initial;
    text-align: initial;
  }

  .location {
    text-align: right;
    line-height: 3.4rem;
    font-size: 2.4rem;
    font-weight: 800;
  }

  main h1 {
    font-weight: bold;
    width: min(300px, 80%);
    line-height: .88;
    margin: clamp(10%, 9vh, 12%) 0 4rem;
  }

  .visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .visit p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }

  .visit a {
    margin: initial;
  }
}
