<!DOCTYPE >
<!--
    

        HYPERTEXT
            
            hipertexto

        MARKANP

            marcaçao por <tegs>

        LINGUIGE

                uma linguagen de programaçao

-->
< lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy</title>

    <link rel="icon" href="/images/logo-icon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pegem-lenge.css">
    <link rel="stylesheet" href="/css/aniamation.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="pege-lengue">
        <div id="contener">
            <header>
                <img 
                class="animation-up"
                id="logo" 
                src="/images/logo.svg" 
                alt="logomarca do happy">
                
                <div class="location animation-up">
                    <strong>Cotia-SP</strong>
                    <P>São Paulo</P>
                </div>
            </header>
            <main>
                <h1 class="animation-up">Leve felicidade para o mundo</h1>

                <section class="visit">
                    <p class="animation-up">vivite orfanato e mude o dia de muitas crianças</p>

                    <a href="/location-orphanege" title="vivite um orfanato" class="animation-up">
                        <img src="/images/arrow.svg" alt="ir para orfanato">
                    </a>
                </section>
            </main>
        </div>
    </div>
</body>

</>